@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";
@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";

body {
    font-family: inherit;
}

h1 {
    font-weight: normal;
}

h2, h3, #toctitle, a:hover, a:focus {
    color: #2397f7;
}

h2 {
    font-size: 2.1em;
    font-weight: normal;
}

h3 {
    font-size: 1.4em;
}

p {
    line-height: 1.2;
}

a {
    color: #717171;
}

#toc a {
    color: #555;
}

#toc a:hover {
    font-weight: 600;
    color: #424242;
}

/* dark-mode for sidebar*/

/*
#toc.toc2 {
    background: #131313;
}

#toc a {
    color: #a8a8a8;
}

#toc a:hover {
    font-weight: 600;
    color: #fff;
}
*/

.sect1 + .sect1 {
    border-top: 1px dotted #999;
}

#_return_to_the_index a {
    text-decoration: unset;
}

.literalblock pre, .listingblock > .content > pre {
  font-size: 0.9em;
}

.ulist > .title {
    color: #000;
    font-style: inherit;
    font-family: inherit;
    font-weight: 800;
}